.user {
  width: 90%;
  margin: auto;

  &__welcome-text {
    padding: 2%;
    text-align: center;
    text-decoration: underline blue 2px;
  }
  &__photo {
    width: 80%;
    margin: auto;
    min-height: 200px;
    justify-self: center;
  }
}
