%not-full-width-center {
  width: 80%;
  margin: auto;
}

.menu {
  &__card {
    @extend %not-full-width-center;
    margin-bottom: 1%;
  }
  &__photo {
    @extend %not-full-width-center;
    min-height: 200px;
    justify-self: center;
  }

  button {
    margin-bottom: 5px;
  }
}
