.menu {
  &__card {
    width: 80%;
    margin: auto;
    margin-bottom: 1%;
  }
  &__photo {
    width: 80%;
    margin: auto;
    min-height: 200px;
    justify-self: center;
  }

  button {
    margin-bottom: 5px;
  }
}
