.menu{

    &__card {
        width: 80%;
        margin: auto;
        margin-bottom: 1%;;
    }
    &__photo{
        justify-self: center;
        margin: auto;
        width: 80%;
        min-height: 200px;
    }
}